/* region general */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

/* endregion general */

/* region Page //Course/Start */

.content-results h3 {
    margin: 0 auto 7px;
}

/* endregion Page //Course/Start */

/* region Page //Auth/In */

div.login-form-helper {
    margin-left: 8.33333333%;
    color:#999;
}

/* endregion Page //Auth/In */

/* region Page //Auth/Name */

div.your-login {
    text-align: center;
}

div.your-login p strong {
    text-transform: uppercase;
}

button[name=start-button] {
    margin: 0 auto;
    display: block;
}

/* endregion Page //Auth/Name */

/* region Page //course/forms/types/video */

div.videoWrapper iframe {
    margin: 0 auto;
    display: block;
}

/* endregion Page //course/forms/types/video */

/* region Page //course/forms/types/video */

div.result-table p span {
    font-weight: 700;
    text-transform: capitalize;
}
div.result-table p {
    text-align: center;
}

div.result-table a.btn.btn-primary {
    margin: 0 auto;
    display: block;
}

/* endregion Page //course/forms/types/video */

