/* region my responsive buttons */

@media all { .form-group button, .form-group a.btn { } }

@media (min-width: 1200px) {
    .form-group button, .form-group a.btn {
        width: 48.7%;
    }
}

@media (max-width: 1199px) {
    .form-group button, .form-group a.btn {
        width: 100%;
    }
}

/* endregion my responsive buttons */
